{{#paper-toolbar class="md-whiteframe-1dp page-main-toolbar" as |toolbar|}}
  {{#toolbar.tools}}
    {{#paper-sidenav-toggle as |toggleAction|}}
      {{#paper-button class="hide-gt-sm" onClick=(action toggleAction) iconButton=true}}
        {{paper-icon "menu"}}
      {{/paper-button}}
    {{/paper-sidenav-toggle}}
    <h1>
      {{pageTitle}}
    </h1>
    <span class="flex"></span>
    {{#if loginResponse}}
      {{#if loggedIn}}
        {{displayName}}
        {{#paper-button mini=true aria-label="Favorite" onClick=(transition-to "user")}}
          {{paper-icon "person"}}
        {{/paper-button}}
      {{else}}
        <h2>
          {{#link-to "register"}}Register{{/link-to}} or {{#link-to "login"}}Login{{/link-to}}
        </h2>
      {{/if}}
    {{/if}}
  {{/toolbar.tools}}
{{/paper-toolbar}}
