{{#paper-dialog width=400 class="flex-nogrow" onClose=(action "closeDialog" "cancel") origin=dialogOrigin clickOutsideToClose=true}}
  {{#paper-toolbar}}
    {{#paper-toolbar-tools}}
      <h2 class="modal_header">Add new mod</h2>
      <span class="flex"></span>
      {{#paper-button iconButton=true onClick=(action "closeDialog" "cancel")}}{{paper-icon icon="close"}}{{/paper-button}}
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}

  {{#paper-form onSubmit=(action "submitFormAction") as |form|}}
    <div class="layout-column">
      <div class="layout-row layout-align-center-start">
        {{form.input class="flex-20" label="Title" value=title onChange=(action (mut title)) required=true disabled=disableForm}}
        {{form.input class="flex-40" label="Subtitle"value=subtitle onChange=(action (mut subtitle)) disabled=disableForm}}
      </div>
      <div class="layout-row layout-align-center-start">
        {{#form.select class="flex-20" options=groupedTypes selected=type label="Type" required=true disabled=disableForm value=type onChange=(action (mut type)) as |type|}}
        {{type}}
        {{/form.select}}
        {{form.input class="flex-20" label="Version" value=version onChange=(action (mut version)) required=true disabled=disableForm}}
      </div>
      <div class="layout-row layout-align-center-start">
        {{form.input textarea=true block=true maxlength=1000 class="flex-90" passThru=(hash rows=5 maxRows=5) disabled=disableForm
                     label="Description" value=description onChange=(action (mut description))}}
      </div>
      <div class="layout-row layout-align-center-center">
      {{#paper-content class="flex-50"}}
          Please choose a mod file to upload from your hard drive.<br>This should be a zip file containing the .dm file in the root, with a folder containing any images.
      {{/paper-content}}
        <input title="fileInput" accept="application/zip" multiple="false" onchange={{action "uploadArchiveAction"}} value="fileToUpload" type="file"/>
      </div>
    </div>
    <div class="layout-row layout-align-center-end">
      {{#form.submit-button raised=true primary=true disabled=form.isInvalid}}Submit{{/form.submit-button}}
    </div>
  {{/paper-form}}
{{/paper-dialog}}