{{page-toolbar pageTitle="Mod Details"}}

<div class="standard-container">
{{#paper-card class="flex-95 mod-detail" id="my-card" as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}{{model.title}}{{/text.headline}}
      {{#text.subhead}}{{model.subtitle}}{{/text.subhead}}
    {{/title.text}}
  {{/card.title}}
  {{#card.content}}
    <p>{{model.description}}</p>
    <span class="modtype">Type:</span> {{model.type}} &nbsp;&nbsp;&nbsp;&nbsp;<span>Version:</span> {{model.version}}
  {{/card.content}}
  {{#card.actions}}
    {{#paper-button onClick=(action "downloadButton")}}Download{{/paper-button}}
  {{/card.actions}}
{{/paper-card}}
</div>